{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "no-return-assign": "off",
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
